<md-toolbar class="md-primary">
	<div class="md-toolbar-tools">
		<h2 flex md-truncate>Text: {{myElement.label}}</h2>
		<md-button class="md-icon-button" aria-label="Favorite" ng-click="deleteText()">	
			<ng-md-icon icon="delete" style="fill: white"></ng-md-icon> 
		</md-button>
		<md-button class="md-icon-button" aria-label="Favorite" ng-click="showText()">
			<ng-md-icon ng-show="visibility == false" icon="keyboard_arrow_down" style="fill: white"></ng-md-icon> 
			<ng-md-icon ng-show="visibility == true" icon="keyboard_arrow_up" style="fill: white"></ng-md-icon> 
		</md-button>
	</div>
</md-toolbar>
<md-content ng-show="visibility" class="md-whiteframe-4dp myform" flex layout-padding>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Label</label>
		<input ng-model="myElement.label"  style="color:black;">
	</md-input-container>
	
	<md-input-container class="md-block">
		<label>Description</label><br>
		<div text-angular ng-model="myElement.description" style="border:solid; border-color:#ccc;"></div>
	</md-input-container>
			
</md-content>
<br>