<md-toolbar class="md-accent">
	<div class="md-toolbar-tools">
		<h2 flex md-truncate>Containers</h2>
		<md-button class="md-icon-button" aria-label="Favorite" ng-click="showContainers()">
			<ng-md-icon ng-show="containers_visibility == false" icon="keyboard_arrow_down" style="fill: white"></ng-md-icon> 
			<ng-md-icon ng-show="containers_visibility == true" icon="keyboard_arrow_up" style="fill: white"></ng-md-icon> 
		</md-button>
	</div>
</md-toolbar>
<md-content ng-show="containers_visibility" class="md-whiteframe-4dp myform" flex layout-padding>	
	<md-input-container class="md-block" flex-gt-sm>
		<label>Home Container</label>
		<md-select ng-model="active_file.containers.home">
			<md-option value=""> -- </md-option>
			<md-option ng-repeat="container in active_file.containers.c_list" value="{{container.id}}">
				{{container.title}}
			</md-option>
		</md-select>
	</md-input-container><br>
	<md-input-container class="md-block" flex-gt-sm>
		<div ng-repeat="container in active_file.containers.c_list">
			<my-single-container container="container" action="showDeleteContainerDialog('Are you sure to delete the container ' + container.title + '?',active_file.containers.c_list,$index)"></my-single-container>
		</div>
		<div align="right">
			<md-button class="md-raised md-accent" ng-click="createContainerList();showAddContainerDialog($event)">Add Container</md-button>
		</div>
	</md-input-container>
</md-content>
<br>