<md-toolbar class="md-primary">
	<div class="md-toolbar-tools">
		<h2 flex md-truncate>Word Cloud: {{myElement.label}}</h2>
		<md-button class="md-icon-button" aria-label="Favorite" ng-click="deleteWordCloud()">
			<ng-md-icon icon="delete" style="fill: white"></ng-md-icon> 
		</md-button>
		<md-button class="md-icon-button" aria-label="Favorite" ng-click="showWordCloud()">
			<ng-md-icon ng-show="visibility == false" icon="keyboard_arrow_down" style="fill: white"></ng-md-icon> 
			<ng-md-icon ng-show="visibility == true" icon="keyboard_arrow_up" style="fill: white"></ng-md-icon> 
		</md-button>
	</div>
</md-toolbar>
<md-content ng-show="visibility" class="md-whiteframe-4dp myform" flex layout-padding>
	
	<md-input-container class="md-block" flex-gt-sm>
		<label>Label</label>
		<input ng-model="myElement.label"  style="color:black;">
	</md-input-container>
	
	<md-input-container class="md-block">
		<label>Description</label><br>
		<div text-angular ng-model="myElement.description" style="border:solid; border-color:#ccc;"></div>
	</md-input-container>
	
	<md-input-container class="md-block">
        <label>Width (px)</label>
        <input type="number" step="10" ng-model="myElement.width" min="0" max="1000" style="color:black;"/>
	</md-input-container>
	
	<md-input-container class="md-block">
        <label>Height (px)</label>
        <input type="number" step="10" ng-model="myElement.height" min="0" max="1000" style="color:black;"/>
	</md-input-container>
	
	<md-input-container class="md-block" flex-gt-sm>
		<label>Shape</label>
		<md-select name="type" ng-model="myElement.shape">
			<md-option value="elliptic">Elliptic</md-option>
			<md-option value="rectangular">Rectangular</md-option>
		</md-select>		
	</md-input-container>
	
	<md-input-container class="md-block" flex-gt-sm>
		<label>Source</label>
		<input ng-model="myElement.source"  style="color:black;">
		<div ng-show="new_variables.length > 0">
			&nbsp;<br>
			<font color="#F44336">New variables detect!</font><br>
			Click on chips for add the variable
			<md-chips ng-model="new_variables" readonly="true" md-transform-chip="" md-removable="false">
				<md-chip-template>
					<a href ng-click="addVariable($chip.name)" class="primary">{{$chip.name}}</a>
				</md-chip-template>
			</md-chips>
		</div>
	</md-input-container>
		
	<md-switch ng-model="myElement.demo">
		Active demo?
	</md-switch>
</md-content>
<br>