<!--<md-card>-->
	<md-card-title ng-if="myElement.label">
		<md-card-title-text>
			<span class="md-headline">{{myElement.label}}</span>
		</md-card-title-text>
	</md-card-title>
	<md-card-content>
		<span align="justify" class="md-padding" ng-bind-html="myElement.description"></span>
		<p>Select the size of the window:&nbsp;{{chosen_value}}</p><br>
		<md-slider flex md-discrete ng-model="chosen_value" ng-change="updateSliderVariable(chosen_value)" step="{{myElement.step_value}}" min="{{myElement.min_value}}" max="{{myElement.max_value}}" ></md-slider>
	</md-card-content>
<!--</md-card>-->